<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    {#% for greeting in greetings %}
    {% if greeting.author %}
    <b>{{ greeting.author.nickname() }}</b> wrote:
    {% else %}
    An anonymous person wrote:
    {% endif %}
    <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %#}

    {{ user }}

    {% for event in events %}
    <div class="event">
        <img src="{{event['img']}}" />
        <h2><a href="{{event['url']}}">{{ event['title'] }}</a></h2>
        <h3>{{event['place']}}</h3>
        <h3>{{ event['date'].strftime("%d.%m.%Y") }}</h3>
        <p>{{event['text']}}</p>
        <div class="clearfix"></div>
        <p class="source"><a href="{{event['source']}}">{{event['source']}}</a></p>
    </div>
    {% endfor %}
</body>
</html>